* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    line-height: 1.5;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex: 0;
}

header img {
    width: 130px;
    max-width: 150px;
    padding: 10px;

}

.primary-navigation ul {
    display: flex;
    gap: 0.8rem;
    padding: 10px;
}

.primary-navigation ul li {
    list-style: none;
}

.primary-navigation a {
    color: white;
    text-decoration: none;
    padding: 2px;
}

.primary-navigation a:hover,
.primary-navigation a:focus-visible {
    color: blueviolet;
}

.first-container {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px;
    gap: 1rem;
}

.first-container h1 {
    font-size: 48px;
}

.first-container p {
    font-size: 18px;
    color: #E5E7EB;
}

.signup-btn {
    background-color: #3B82F6;
    border-radius: 13px;
    padding: 7px;
    padding-inline: 40px;
    margin-block: 10px;
}

.signup-btn a {
    color: white;
    text-decoration: none;
}

.first-child {
    max-width: 300px;
}

.first-image {
    flex: 1;
    width: 350px;
    height: 300px;
    overflow: hidden;
   
}

.first-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-block-start: 25px;
}

.second-container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 60px;
    gap: 1.5rem;
    min-height: 30vh;
}

.card-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.img-box {
    width: 150px;
    height: 150px;
    border: 2px solid #3b82f6;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 12px;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.subtext {
    opacity: 0.85;
    font-size: 16px;
    font-weight: lighter;
    margin: 0;
}

.text-container {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    min-height: 31vh;
    padding: 40px 20px;
}

.text-container p {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    max-width: 1000px;
    flex-shrink: 1;
}

.forth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;

}

.signup-parent {
    display: flex;
    border: 2px solid #3B82F6;
    background-color: #3B82F6;
    color: white;
    width: 700px;
    height: 110px;
    padding: 30px 40px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    flex: 0 1 auto;
}

.lower-contrast { 
    color: #ffff;
    opacity: 0.85;
    font-size: 16px;
    font-weight: lighter;
    margin: 0;
}

.signup-button button {
    border: 2px solid #ffffff;
    background-color: #3B82F6;
    padding: 4px;
    padding-inline: 35px;
    border-radius: 10px;
}

.signup-button a {
    color: white;
    text-decoration: none;
}

.signup-button a:hover,
.signup-button a:focus-visible {
    color: blueviolet;
}

.last-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #1F2937;
    background-color: #1F2937;
    color: #ffffff;
    height: 7vh;
}